services:
  database:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend/go
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://database:27017
      - MONGO_DB=base
      - MONGO_USERS_COLLECTION=users
    depends_on:
      - database
    ports:
      - "8080:8080"
  frontend:
    build:
      context: ./frontend/svelte
    restart: unless-stopped
    environment:
      - VITE_API_URL=http://localhost:8080
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/svelte:/app
      - /app/node_modules

volumes:
  mongo_data:
